* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  height: 130px;
  
  background-color: black;
}

#me {
  display: flex;
  flex-direction: row-reverse;
  justify-content: reverse flex-start;
  align-content: center;
  margin: 10px 0px 10px 10px;
}

#me h1 {
  font-size: 70px;
  padding-left: 20px;
  color: white;
}

#avatar {
  border-radius: 70%;
  overflow: hidden;
  margin-left: 20px;
}

#avatar img {
  height: 120px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation {
  font-size: 25px;
  padding: 20px;
  color: white;
}

.navigation {
  text-decoration: none;
}

